<div class='{{modal}}'>
    <div class="modal-content">
        <span (click)="onCloseModal()" class="close-button">×</span>
        <div class="container">
          <div class="card">
            <div class="card-header">
              <img src="{{picture}}" alt="" />
            </div>
            <div class="card-body">
              <span class="tag">{{name}}</span>
                @for(info of aditionalInfo; track info){
                    <h4>{{info}}</h4>
                }
            </div>
          </div>
        </div>
    </div>
</div>