<div class="journal">
  <div class="first photo">
      <div>
          <div style="height: 500px">
            <div style="float: left; clear: none; position: absolute; top: 100%;">
              <button (click)="previousStep()">Previous</button>
              <button (click)="nextStep()">Next</button>
            </div>
            <div style="display: flex; justify-content: left; align-items: center;">
              <h1 id="box-four" [ngStyle]="{display : movedImg ? 'none': 'block'}">{{memoryTexts[textIndex]}}</h1>
              <div id="box-zero"></div>
              <div style="display: flex; justify-content: left; align-items: center;">
                <div id="box-one" [ngStyle]="{'transition': 'all 2s ease 0s', 'left': movedImg ? '25%' : '0%', 
                'background-image': firstTime ? 'url(https://www.olympiabenefits.com/hubfs/Vega/Blog%20Pages/Psychology/What%20is%20memory.png)' 
                : 'url(' + firstImages[index] + ')'}">
                </div>
              </div>
              <div style="display: flex; justify-content: left; align-items: center;">
                <div id="box-two" [ngStyle]="{'transition': 'all 2s ease 0s', 'left': movedImg ? '50%' : '0%', 
                'background-image': firstTime ? 'url(https://images.ctfassets.net/cnu0m8re1exe/uTkqQAbjpnnpceaY9UzLE/2d49aaee28ca31631c33a02ff89b437c/brainresearch.jpg?fm=jpg&fl=progressive&w=660&h=433&fit=fill)' 
                : 'url(' + secondImages[index] + ')'}">
                </div>
              </div>
              <div style="display: flex; justify-content: left; align-items: center;">
                <div id="box-three" [ngStyle]="{'transition': 'all 2s ease 0s', 'left': movedImg ? '75%' : '0%', 
                'background-image': firstTime ? 'url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZ95HvxEmQ-GQBMSL48P-DpN445HLKgqG2EmJu57Fr8Ix4rw0mkf01iMh3Hew2gS3I9JI&usqp=CAU)' 
                : 'url(' + thirdImages[index] + ')'}">
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>
