{% extends "base.html.twig" %}
{% block content %}
<table>
    {% for row in resultados %}
    <tr>
        <td>{{row.getTitulo}}</td>
        <td>{{row.getFechaCreacion | date("d/m/Y")}}</td>
        <td>[X]</td>
        <td>[U]</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}