<!-- Journal -->
<div class="journal">
    <div class="first photo">
        <div>
            <div class="image-container">
                <img src="{{longTermImgs[cont]}}">
            </div>
        </div>
        <span class="caption">Memoria a largo plazo</span>
    </div>
    <div >
        <div>
            <span class="quote">¿Qué es la memoria a largo plazo?</span>
            <p>
              @if(cont===0){
                <span class='first-letter'>L</span> 
              }
              {{longTermTexts[cont]}}
            </p>
        </div>
        
    </div>
    
  </div>