<article>
    <div class="contenedor">
        <img src="https://s3.ppllstatics.com/lasprovincias/www/multimedia/201811/13/media/cortadas/cacsa-k9eC--624x385@Las%20Provincias.jpg" />
        <div class="texto-encima">La Ciudad de las Artes y las Ciencias</div>
    </div>
    <div>
        <p>Ubicada al final del viejo cauce del río Turia, la Ciudad de las Artes y las Ciencias
        es un complejo arquitectónico, cultural y de entretenimiento diseñado por
        Santiago Calatrava y Félix Candela, junto con los ingenieros autores del diseño
        estructural de las cubiertas del L'Oceanografic Alberto Domingo y Carlos Lázaro.</p>
    </div>
</article>