#novedades {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 70px 0;
}

#novedades img {
    width: 800px;
    height: 500px;
    opacity: 0;
    transition: opacity 0.5s;
}

#novedades img:first-child {
    opacity: 1;
}

#novedades:hover img + h2 {
    opacity: 1;
}

#novedades h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: left;
    width: 775px;
    transform: translateX(-50%);
    background-color: rgba(169, 169, 169, 0.5);
    padding: 10px;
    cursor: pointer;
    color: white;
    opacity: 0;
    transition: opacity 0.5s;
}
