<!-- Main -->
<main class="content">
    <section>
        <div class="grid">
            @for (fruit of fruitNames; track fruit; let i=$index) {
            <div class="card" (click)="onToggleModal(fruit,fruitImgs[i])">
                <div class="photo" style="background-image: url({{fruitImgs[i]}});">
                    <div class="title">{{fruit}}</div>
                </div>
            </div>
            }
        </div>
        <div class="grid">
            @for (vegetable of vegetableNames; track vegetable; let i=$index) {
            <div class="card" (click)="onToggleModal(vegetable,vegetableImgs[i])">
                <div class="photo" style="background-image: url({{vegetableImgs[i]}});">
                    <div class="title">{{vegetable}}</div>
                </div>
            </div>
            }
        </div>
    </section>
</main>

@if(toggleModal){
    <div class="modal show-modal">
        <div class="modal-content" style="background-image: url({{currentImg}});">
            <span class="close-button" (click)="onModalAgain()">×</span>
            <h1>{{currentName}}</h1>
        </div>
    </div>
}

