<header>
    <nav class="header">
        <ul>
            <li><a routerLink="/github1" RouterLinkActive="active">GitHub1</a></li>
            <li><a routerLink="/github2" RouterLinkActive="active">GitHub2</a></li>
            <li><a routerLink="/memigo1" RouterLinkActive="active">Memigo</a></li>
            <li><a routerLink="/memigo2" RouterLinkActive="active">Memigo2</a></li>
            <li><a routerLink="/memigo3" RouterLinkActive="active">Memigo3</a></li>
        </ul>
    </nav>
</header>