<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Ancient Blog Theme</title>
<meta name="keywords" content="" />
<meta name="description" content="" />

</head>
<body>
    <h1>Insercion de Tarea</h1>
    <form action="http://localhost/ud4/actividades/ejercicio2/public/index.php/adding" method="post">
        <label for="titulo">Título: </label>
        <input type="text" name="titulo" id="titulo">
        <br>
        <br>
        <label for="descripcion">Descripción: </label>
        <input type="text" name="descripcion" id="descripcion">
        <br>
        <br>
        <input type="submit" value="Insertar">
    </form>
</body>