<div class="github">
    <div class="content" [ngStyle]="{'display' : 'block'}">
        @for(profile of gitProfiles; track profile; let i = $index){
            <img style="width: 60%;" src={{profile.avatar_url}} (click)="saveProfile(profile.login,profile.avatar_url)">
            <h1>{{profile.login}}</h1>
        }
    </div>
</div>

<div [ngClass]="{toggleModal}">
    <div class="modal-content">
        <span class="close-button" (click)="onCloseModal()">×</span>
        <h1 [ngStyle]="{'background-image': 'url('+avatar+')'}">{{name}}</h1>
    </div>
</div>

