<div class="github">
    <div class="menu">
        <h2>Menu</h2>
        <nav>
            <ul>
                <li><a>Ver perfiles</a></li>
            </ul>
        </nav>
    </div>
   
    <div class="content" [ngStyle]="{'display' : 'block'}">
        @for(profile of gitProfiles; track profile; let i = $index){
            <img style="width: 60%;" src={{profile.avatar_url}} (click)="saveProfile(profile.login,profile.avatar_url)">
            <h1>{{profile.login}}</h1>
        }
    </div>
</div>

<div class='{{toggleModal}}'>
    <div class="modal-content">
        <span (click)="onCloseModal()" class="close-button">×</span>
        <h1 [ngStyle]="{ 'background-image': 'url(' + avatar + ')' }">{{name}}</h1>
    </div>
</div>



