<div class="container" [ngStyle]="{display : gameEnded ? 'none' : ''}">
    <div class="div">
      <h1 (click)="shuffle(firstLevelColors)">Let's play!</h1>
      <table style="margin-left:auto;margin-right:auto;">
        @switch(difLvl){
          @case(1){
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(0,firstLevelColors) : choseColor(0)"
              [ngStyle]="{'background-color': gameOnGoing ? firstLevelColors[0] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(1,firstLevelColors) : choseColor(1)"
              [ngStyle]="{'background-color': gameOnGoing ? firstLevelColors[1] : ''}"></td>
            </tr>
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(2,firstLevelColors) : choseColor(2)"
              [ngStyle]="{'background-color': gameOnGoing ? firstLevelColors[2] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(3,firstLevelColors) : choseColor(3)"
              [ngStyle]="{'background-color': gameOnGoing ? firstLevelColors[3] : ''}"></td>
            </tr>            
          }@case(2){
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(0,secondLevelColors) : choseColor(0)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[0] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(1,secondLevelColors) : choseColor(1)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[1] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(2,secondLevelColors) : choseColor(2)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[2] : ''}"></td>
            </tr>
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(3,secondLevelColors) : choseColor(3)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[3] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(4,secondLevelColors) : choseColor(4)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[4] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(5,secondLevelColors) : choseColor(5)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[5] : ''}"></td>
            </tr>
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(6,secondLevelColors) : choseColor(6)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[6] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(7,secondLevelColors) : choseColor(7)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[7] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(8,secondLevelColors) : choseColor(8)"
              [ngStyle]="{'background-color': gameOnGoing ? secondLevelColors[8] : ''}"></td>
            </tr>
          }@case(3){
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(0,thirdLevelColors) : choseColor(0)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[0] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(1,thirdLevelColors) : choseColor(1)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[1] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(2,thirdLevelColors) : choseColor(2)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[2] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(3,thirdLevelColors) : choseColor(3)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[3] : ''}"></td>
            </tr>
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(4,thirdLevelColors) : choseColor(4)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[4] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(5,thirdLevelColors) : choseColor(5)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[5] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(6,thirdLevelColors) : choseColor(6)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[6] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(7,thirdLevelColors) : choseColor(7)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[7] : ''}"></td>
            </tr>
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(8,thirdLevelColors) : choseColor(8)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[8] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(9,thirdLevelColors) : choseColor(9)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[9] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(10,thirdLevelColors) : choseColor(10)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[10] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(11,thirdLevelColors) : choseColor(11)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[11] : ''}"></td>
            </tr>
            <tr>
              <td class="activity" 
              (click)="onChange ? changeColor(12,thirdLevelColors) : choseColor(12)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[12] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(13,thirdLevelColors) : choseColor(13)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[13] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(14,thirdLevelColors) : choseColor(14)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[14] : ''}"></td>
              <td class="activity" 
              (click)="onChange ? changeColor(15,thirdLevelColors) : choseColor(15)"
              [ngStyle]="{'background-color': gameOnGoing ? thirdLevelColors[15] : ''}"></td>
            </tr>
          }
        }
      </table>
      <h1 (click)="onCheck()" [ngStyle]="{display : gameOnGoing ? '' : 'none'}">Check!</h1>
    </div>
  </div>
  <h1 (click)="resetGame()" [ngStyle]="{display : gameEnded ? '' : 'none'}">{{victory ? 'You win!': 'Game over!'}}</h1>
