/* Estilos para el contenedor del section */
section {
    display: flex;
}

#busqueda {
    background-color: #62B6CB;
    padding: 20px; /* Agregamos un padding para mejorar la apariencia */
    box-sizing: border-box; /* Aseguramos que el padding no afecte el ancho total */
}

table {
    border-collapse: separate;
    border-spacing: 50px 0; /* Ajusta el valor horizontal según tus necesidades */
}

td {
    padding-right: 50px; /* Ajusta el valor según tus necesidades */
}


article {
    flex: 1; /* El article tomará el espacio restante */
    padding: 20px;
    align-items: center;
}

.filtros-btn-group {
    display: flex;
    flex-direction: column;
}

.filtros-btn-group input[type="checkbox"] {
    display: none; /* Oculta los checkboxes */
}

.filtros-btn-group label {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #1b4965;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filtros-btn-group input[type="checkbox"]:checked + label {
    background-color: #2979bd; /* Cambia el color al estar seleccionado */
}

#busqueda p {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

#searchForm label, #searchForm input[type="text"] {
    display: inline-block;
}

#searchForm input[type="text"] {
    padding: 5px 10px;
    font-weight: bold;
    background-color: white;
    font-style: italic;
}

#searchForm input[type="submit"] {
    border: 2px solid #000;
    background-color: #62B6CB;
    color: #BEE9E8;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}