footer {
    text-align: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    margin-top: auto; /* Mantiene el pie de página pegado al final del contenedor */
    background-color: #1B4965;
    color: #62B6CB;
}

.main{
    background-color: #BEE9E8;
}

.navbar{
    background-color: #1B4965;
    font-size: larger;
}

.nav-link{
    color: #62B6CB;
}

.nav-link:hover{
    color: #BEE9E8;
}

.jumbotron{
    color: #1B4965; 
    background-image: url(https://cdn.mos.cms.futurecdn.net/SqMREeTjELyYscpKC7NHvm-1200-80.jpg); 
    background-repeat: no-repeat; 
    background-size: cover;
}