body{
    background-color: #BEE9E8;
}

h1{
    font-family: 'Open Sans';
}

footer {
    text-align: center;
    padding: 10px;
    width: 100%;
    bottom: 0; /* Fijar el pie de página en la parte inferior */
    background-color: #1B4965;
    color: #62B6CB;
}

.navbar{
    background-color: #1B4965;
    font-size: large;
}

.nav-link{
    color: #62B6CB;
}

.nav-link:hover{
    color: #BEE9E8;
}

.jumbotron{
    background-image: url('../imagenes/jumbo.jpg'); 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 600px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.display-4{
    text-align: center;
    font-style: italic;
    color: #BEE9E8;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra */
    -webkit-text-stroke: 1px black; /* Borde en navegadores webkit */
}